setuptools
torch
torchvision
ultralytics
EasyDict==1.7
opencv-python
shapely
Cython
scipy
pandas
pyyaml
json_tricks
scikit-image
yacs>=0.1.5
tensorboard
tensorboardX
pycocotools
numpy==1.26.4
tqdm
timm
tabulate
albumentations
lightning
omegaconf